Repository suryatmodulus/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @harness/ui-council, @harness/ui-platform, @harness/ui-pipeline, @harness/ui-cv, @harness/ui-ci

CODEOWNERS:

.github/ @harness/ui-council
.eslintrc.yml @harness/ui-council
.prettierignore @harness/ui-council
.prettierrc.yml @harness/ui-council
package.json @harness/ui-council
tsconfig.json @harness/ui-council
tsconfig-eslint.json @harness/ui-council
webpack.config.js @harness/ui-council
webpack.devServerProxy.config.js @harness/ui-council
jest.config.js @harness/ui-council
coverage-groups.json @harness/ui-council
dockerfile @harness/ui-council
src/framework/ @harness/ui-council
src/modules/10-common/navigation/ @harness/ui-council
src/modules/10-common/RouteDefinitions.ts @harness/ui-council
src/services/ @harness/ui-council
harnessci.Dockerfile @harness/ui-council
restful-react.config.js @harness/ui-council
sonar-project.properties @harness/ui-council
yarn.lock @harness/ui-council
.dockerignore @harness/ui-council
.storybook/ @harness/ui-council
scripts/ @harness/ui-council
certificates/ @harness/ui-council
src/modules/15-notifications @harness/ui-platform
src/modules/18-audit-trail @harness/ui-platform
src/modules/20-rbac @harness/ui-platform
src/modules/30-auth-settings @harness/ui-platform
src/modules/30-secrets @harness/ui-platform
src/modules/35-connectors @harness/ui-platform
src/modules/35-user-profile @harness/ui-platform
src/modules/40-gitsync @harness/ui-platform
src/modules/45-projects-orgs @harness/ui-platform
src/modules/70-pipeline @harness/ui-pipeline
src/modules/72-templates-library @harness/ui-pipeline
src/modules/75-cd @harness/ui-pipeline
src/modules/85-cv @harness/ui-cv
src/modules/75-ci @harness/ui-ci

fix: Sanpshot updated
  src/modules/10-common/components/MultiTypeMapInputSet/__test__/__snapshots__/MultiTypeMapInputSet.test.tsx.snap
  src/modules/70-pipeline/pages/triggers/__tests__/__snapshots__/TriggersWizardPage.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TerraformApply/__tests__/__snapshots__/TerraformApply.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TerraformDestroy/__tests__/__snapshots__/TerraformVariable.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/__tests__/__snapshots__/TerraformPlan.test.tsx.snap
Owners: @harness/ui-pipeline

fix: eslint fix
  src/modules/75-ci/components/PipelineSteps/CIStep/ArtifactoryInputSetCommonField.tsx
Owners: @harness/ui-ci

feat: revamped design for fixed schedules form
  src/modules/75-ce/common/DaysOfWeekSelector/DaysOfWeekSelector.module.scss
  src/modules/75-ce/common/DaysOfWeekSelector/DaysOfWeekSelector.module.scss.d.ts
  src/modules/75-ce/common/DaysOfWeekSelector/DaysOfWeekSelector.tsx
  src/modules/75-ce/common/FixedSchedule/FixedScheduleDialog.tsx
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.module.scss
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.module.scss.d.ts
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
  src/modules/75-ce/common/TimeZoneSelector/TimeZoneSelector.tsx
  src/modules/75-ce/components/PerspectiveReportsAndBudget/PerspectiveCreateReport.tsx
  src/modules/75-ce/strings/strings.en.yaml
  src/stringTypes.ts
Owners: none

refactor: refactored code for schedule edit form
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
  src/modules/75-ce/common/FixedSchedulesList/FixedSchedulesList.tsx
Owners: none

fix: some logic fixes
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.module.scss
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.module.scss.d.ts
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
  src/modules/75-ce/common/FixedSchedule/useFixedScheduleEditor.tsx
  src/modules/75-ce/common/FixedSchedulesList/FixedSchedulesList.tsx
  src/modules/75-ce/components/COCreateGateway/models.ts
  src/modules/75-ce/components/COGatewayConfig/steps/AdvancedConfiguration/FixedSchedules.tsx
Owners: none

fix: added allCreatedSchedules to components
  src/modules/75-ce/components/COGatewayConfig/__tests__/FixedSchedules.test.tsx
  src/modules/75-ce/components/COGatewayList/components/FixedScheduleAccordion/FixedScheduleAccordion.tsx
Owners: none

fix: filter deleted schedules for validation
  src/modules/75-ce/components/COGatewayConfig/steps/AdvancedConfiguration/FixedSchedules.tsx
Owners: none

fix: checkbox width trimming
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
Owners: none

fix: [FFM-1936]: added flutter logo btn
  src/modules/75-cf/components/LanguageSelection/LanguageSelection.tsx
  src/modules/75-cf/components/LanguageSelection/icons/flutter.svg
Owners: none

feat: [PL-20872]: Added for secrets
  src/modules/10-common/components/CollapsableList/CollapsableList.module.scss
  src/modules/10-common/components/CollapsableList/CollapsableList.module.scss.d.ts
  src/modules/10-common/components/CollapsableList/CollapsableList.tsx
  src/modules/10-common/components/EntityReference/EntityReference.tsx
  src/modules/30-secrets/components/SecretReference/SecretReference.module.scss
  src/modules/30-secrets/components/SecretReference/SecretReference.module.scss.d.ts
  src/modules/30-secrets/components/SecretReference/SecretReference.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/FormMultiTypeConnectorField.tsx
Owners: @harness/ui-platform

feat: [PL-20872]: Refactor Reference Component
  src/modules/10-common/components/CollapsableList/CollapsableList.module.scss
  src/modules/10-common/components/CollapsableList/CollapsableList.module.scss.d.ts
  src/modules/10-common/components/CollapsableList/CollapsableList.tsx
  src/modules/10-common/components/EntityReference/EntityReference.module.scss
  src/modules/10-common/components/EntityReference/EntityReference.tsx
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.module.scss
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.tsx
  src/modules/30-secrets/modals/CreateOrSelectSecretModal/useCreateOrSelectSecretModal.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.module.scss
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.tsx
Owners: @harness/ui-platform

feat: [PL-20872]: Refactor Reference Component
  src/modules/10-common/components/CollapsableList/CollapsableList.tsx
  src/modules/10-common/components/EntityReference/EntityReference.module.scss
  src/modules/10-common/components/EntityReference/EntityReference.module.scss.d.ts
  src/modules/10-common/components/EntityReference/EntityReference.tsx
  src/modules/10-common/strings/strings.en.yaml
  src/modules/30-secrets/components/SecretReference/SecretReference.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.module.scss
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.module.scss.d.ts
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.tsx
  src/modules/35-connectors/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @harness/ui-platform

feat: [PL-20872]: Added for secrets
  src/modules/10-common/components/EntityReference/EntityReference.tsx
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.module.scss
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.tsx
  src/modules/30-secrets/components/CreateOrSelectSecret/CreateOrSelectSecret.module.scss
  src/modules/30-secrets/components/SecretReference/SecretReference.module.scss
  src/modules/30-secrets/components/SecretReference/SecretReference.module.scss.d.ts
  src/modules/30-secrets/components/SecretReference/SecretReference.tsx
  src/modules/30-secrets/modals/CreateOrSelectSecretModal/useCreateOrSelectSecretModal.module.scss
  src/modules/30-secrets/modals/CreateOrSelectSecretModal/useCreateOrSelectSecretModal.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.module.scss
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.tsx
Owners: @harness/ui-platform

fix: [PL-20872]: Added review comment
  src/modules/10-common/components/CollapsableList/CollapsableList.tsx
Owners: none

fix: [GTM-655]: fix show plans page for community edition
  package.json
  src/modules/30-auth-settings/pages/subscriptions/SubscriptionTab.tsx
Owners: @harness/ui-council, @harness/ui-platform

laptop setup
  package.json
Owners: @harness/ui-council

fix: [PL-20872]: Fix search and pagination
  src/modules/10-common/components/EntityReference/EntityReference.tsx
Owners: none
